{%extends "material/base.html" %}
{% block content %}
<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Summary To Go!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="index.html">Home</a></li>
      </ul>
    </div>
  </nav>
</header>

<main>
<div id="basic-form" class="section">
    <div class="row">
      <div class="col s12 m12 l6">
        <div class="card-panel">
          <h4 class="header2">User Input</h4>
          <div class="row">
            <form class="col s12" action="/summarize" method="POST">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="user_input" name ="user_input" class="materialize-textarea">{% if results %}{{results["user_input"]}} {% endif %}</textarea>
                  <label for="user_input">Message</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn cyan waves-effect waves-light right" type="submit" name="action" pb-role="submit">Submit
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content">
              <span class="card-title black-text">LSA Summary</span>
              <p>{% if results %}{{results["summaries"]["lsa_summary"]}}{% endif %}</p>
            </div>
          </div>
          
          <div class="card">
            <div class="card-content">
              <span class="card-title black-text">LUHN Summary</span>
              <p>{% if results %}{{results["summaries"]["luhn_summary"]}}{% endif %}</p>
            </div>
          </div>

          <div class="card">
            <div class="card-content">
              <span class="card-title black-text">LEX Summary</span>
              <p>{% if results %}{{results["summaries"]["lex_summary"]}}{% endif %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
    </div>
  </div>
</footer>



{% endblock %}
