{% include "header.html" %}
<main>
    <section>
        <div class="container wow fadeIn">
            <div id="oleezLandingCarousel" class="oleez-landing-carousel carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active" data-interval="3000">
                        <img src="{{ url_for('static', filename = 'assets/images/Banner_1@2x.jpg')}}" alt="First slide" class="w-100">
                        <div class="carousel-caption" style="width: 1000px !important">
                            <h2 data-animation="animated fadeInRight"><span>Hello! I am Sam</span></h2>
                            <h2 data-animation="animated fadeInRight"><span>Your Summary Assistant</span></h2>
                            <a href="/summary" class="carousel-item-link" data-animation="animated fadeInRight">GIVE ME SOME WORK</a>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="3000">
                        <img src="{{ url_for('static', filename = 'assets/images/summary_fingertips.jfif')}}" alt="Second slide" class="w-100">
                        <div class="carousel-caption" style="width: 1000px !important">
                            <h2 data-animation="animated fadeInRight"><span>Summary</span></h2>
                            <h2 data-animation="animated fadeInRight"><span>At Your Fingertips</span></h2>
                            <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight">GIVE ME SOME WORK</a>
                        </div>
                    </div>
                    <div class="carousel-item" data-interval="3000">
                        <img src="{{ url_for('static', filename = 'assets/images/hours.jfif')}}" alt="Third slide" class="w-100">
                        <div class="carousel-caption" style="width: 1000px !important">
                            <h2 data-animation="animated fadeInRight"><span>Don't wait for hours!</span></h2>
                            <h2 data-animation="animated fadeInRight"><span>Have your summary in seconds!</span></h2>
                            <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight">GIVE ME SOME WORK</a>
                        </div>
                    </div>
                    <div class="carousel-item" style="width: 1000px !important" data-interval="3000">
                        <img src="{{ url_for('static', filename = 'assets/images/workmate.jfif')}}" alt="Fourth slide" class="w-100">
                        <div class="carousel-caption">
                            <h2 data-animation="animated fadeInRight"><span>I am</span></h2>
                            <h2 data-animation="animated fadeInRight"><span>your Companion</span></h2>
                            <a href="#!" class="carousel-item-link" data-animation="animated fadeInRight">GIVE ME SOME WORK</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="oleez-landing-section oleez-landing-section-about">
        <div class="container">
            <div class="oleez-landing-section-content">
                <div class="oleez-landing-section-verticals wow fadeIn">
                    <span class="number">01</span> <img src="{{ url_for('static', filename = 'assets/images/samlogo.png')}}" alt="ollez" height="36px">
                </div>
                <div class="row landing-about-content wow fadeInUp">
                    <div class="col-md-6">
                        <h2>Get to know SAM</h2>
                    </div>
                    <div class="col-md-6">
                        <p> Automatic text summarization is formally defined as the process of distilling 
                            the most important information from a source (or sources) to
                            produce an abridged version for a particular user (or users)and task (or tasks)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 landing-about-feature wow fadeInUp">
                        <img src="{{ url_for('static', filename = 'assets/images/icon_1.svg')}}" alt="document" class="about-feature-icon">
                        <h5 class="about-feature-title" style="font-weight: 300;"><span style="font-weight: 1000;">S</span>ummary</h5>
                        <p class="about-feature-description">I am here to alleviate information overload by distilling important information
                            using Machine Learning algorithms.
                        </p>
                    </div>
                    <div class="col-md-4 landing-about-feature wow fadeInUp">
                        <img src="{{ url_for('static', filename = 'assets/images/icon_2.svg')}}" alt="document" class="about-feature-icon">
                        <h5 class="about-feature-title" style="font-weight: 300;"><span style="font-weight: 1000;">A</span>ssistant</h5>
                        <p class="about-feature-description">I don't aim to replace your human capability of understanding information. 
                            I am here to support and complement your work.</p>
                    </div>
                    <div class="col-md-4 landing-about-feature wow fadeInUp">
                        <img src="{{ url_for('static', filename = 'assets/images/icon_3.svg')}}" alt="document" class="about-feature-icon">
                        <h5 class="about-feature-title" style="font-weight: 300;"><span style="font-weight: 1000;">M</span>anager</h5>
                        <p class="about-feature-description">
                            I am here to help you manage your time by providing you a summary in seconds!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="oleez-landing-section portfolio-grid-page">
        <div class="container">
            <div class="oleez-landing-section-content">
                <div class="oleez-landing-section-verticals wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <span class="number">02</span> <img src="{{ url_for('static', filename = 'assets/images/samlogo.png')}}" alt="ollez" height="12px">
                </div>
                <h2 class="section-title wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Project Documents</h2>
                <p class="news-section-subtitle wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Learn more on how we develop this project.</p>
                <div class="blog-standard">
                    <div class="row">
                        <div class="col-md-6">
                            <article class="blog-post wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <img src="{{ url_for('static', filename = 'assets/images/paper.jfif')}}" alt="blog post" class="post-thumbnail">
                                <h4 class="post-title">I am Sam</h4>
                                <p class="post-excerpt">An Automatic Text Summarization System using different Extractive Techniques </p>
                                <a href="https://www.slideshare.net/JohnRayMartinez1/i-am-sam-web-app" target="_blank" class="post-permalink">READ MORE</a>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article class="blog-post wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                <img src="{{ url_for('static', filename = 'assets/images/code.jfif')}}" alt="blog post" class="post-thumbnail">
                                <h4 class="post-title">Code Repository</h4>
                                <p class="post-excerpt">
                                    We utilized Flask which is a micro web frame- work written in Python and designed using Bootstrap framework for responsive web design.
                                </p>
                                <a href="https://github.com/miggytrinidad/summarizer" target="_blank" class="post-permalink">READ MORE</a>
                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="oleez-landing-section oleez-landing-section-team">
        <div class="container">
            <div class="oleez-landing-section-content">
                <div class="oleez-landing-section-verticals wow fadeIn">
                    <span class="number">03</span> <img src="{{ url_for('static', filename = 'assets/images/samlogo.png')}}" alt="ollez" height="36px">
                </div>
                <div class="row landing-team-content wow fadeInUp">
                    <div class="col-md-6">
                        <h2 class="section-title">Meet The Team</h2>
                    </div>
                    <div class="col-md-6">
                        <p>Data Science | Masters Technical Intern at DXC Technology Applied AI Center of Excellence: DXC Applied AI Studio</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                        <img src="{{ url_for('static', filename = 'assets/images/johnray.png')}}" alt="Team Member" class="team-card-img" style="width: 250 px; height: 320px;">
                        <h5 class="team-card-name">John Ray Martinez</h5>
                        <p class="team-card-job">Drexel University</p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                            <img src="{{ url_for('static', filename = 'assets/images/jonathan.jpg')}}" alt="Team Member" class="team-card-img" style="width: 250 px; height: 320px;"">
                            <h5 class="team-card-name">Jonathan Musni</h5>
                            <p class="team-card-job">Drexel University</p>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0 landing-team-card wow flipInY">
                            <img src="{{ url_for('static', filename = 'assets/images/miggy.jpg')}}" alt="Team Member" class="team-card-img" style="width: 250 px; height: 320px;">
                            <h5 class="team-card-name">Juan Miguel Trinidad</h5>
                            <p class="team-card-job">Drexel University</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% include "footer.html" %}
 